{% extends "../structure/base.html" %}
{% block content %}

<style>
    #bordered-justified-action .card a {
        --main-color: hsl(28, 79%, 68%);
    }

    #bordered-justified-action .actions-table {
        padding: 5px 5px;
        min-height: 200px;
    }

    .cases-table img {
        max-width: 220px;
        min-height: 100px;
        border-radius: 5px;
    }

    .cases-table tbody {
        width: 100%;
        text-align: justify;
        margin: 0px auto;
    }

    .cases-table tbody tr {
        border-bottom: 3px solid beige;
        border-top: 4px solid beige;
    }

    .cases-table thead tr {
        background-color: rgb(121, 102, 49);
        color: white;
    }
</style>

<main id="main" class="main">
    <div class="pagetitle">
        <h1 style="color: rgb(121, 102, 49); font-size:x-large;">Collecte des données</h1>
    </div>
    <div class="row d-flex align-content-center justify-content-center text-center">
        <div class="col-12">
            <h2 style="font-size:x-large;">Actions</h2>
        </div>
    </div>
    <div class="card shadow-none ">
        <div class="card-body bg-white" style="overflow-x: scroll;">
            <div class="row">
                <div class="col-md-2 col-2">
                    <div class="filter">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#largeModalAction"
                            style="margin-right: 20px;  background-color: white; border: none;" class=""
                            data-bs-toggle="modal" data-bs-target=""><i class="bi bi-plus-circle-fill logobtnpost"
                                style="font-size: 30px;"> </i></button>
                    </div>
                </div>
                <div class="col-md-4 col-10">
                    <div class="d-flex gap-2 mt-sm-1">
                        <span class="mt-2">Du</span>
                        <input class="gap-0 form-control shadow-none small" type="date" id="dateActionsFrom"></input>
                        <span class="mt-2"> au </span>
                        <input class="m-0 gap-0 form-control shadow-none small" type="date" id="dateActionsTo">
                        </input>
                    </div>

                </div>
                <div class="col-md-3 col-6 p-1 justify-content-end">
                    <select name="" class="form-select" id="">
                        <option value="Infrascture">Type de cas</option>
                        <option value="Infrascture">Infrascture</option>
                        <option value="soutien-cas-violence">Soutien cas de violence</option>
                        <option value="incendie">Incendie</option>
                        <option value="formation">Formation</option>
                        <option value="construction-batiment">Construction Batiment</option>
                        <option value="construction-route">Construction Routes</option>
                        <option value="autres-dons">Autres dons</option>
                    </select>
                </div>
                <div class="col-md-3 col-6 p-1">
                    <select class="form-select shadow-none shadow-none" aria-label="Default select example">
                        <option selected>Filtrer type date</option>
                        <option value="1">Aujourdhui</option>
                        <option value="2">Mois</option>
                        <option value="2">Year</option>
                    </select>
                </div>
            </div>

            <table class="table table-borderless cases-table mt-2">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Béneficiaire</th>
                        <th scope="col">TypeAction</th>
                        <th scope="col">Béneficiaire</th>
                        <th scope="col">Cout estime</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for itemAction in actionsEntries %}
                    <tr>
                        <td><a href="#">{{itemAction.id}}</a></td>
                        <th scope="row">{{itemAction.beneficiary}}
                        </th>
                        <td>{{itemAction.action_type}}</td>
                        <td>{{itemAction.cost_estimated}}
                        </td>
                        <td>
                            <a href="#" data-bs-toggle="offcanvas" type="button" data-bs-target="#showDetailAction"
                                aria-controls="showDetailAction" style="color: black;">
                                <div class="offcanvas offcanvas-end" tabindex="-1" id="showDetailAction"
                                    aria-labelledby="offcanvasRightLabel">
                                    <div class="offcanvas-header">
                                        <h5 id="offcanvasRightLabel">Action Details</h5>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                            aria-label="Close"></button>
                                    </div>
                                    <style>
                                        .offcanvas-body div {
                                            color: black;
                                        }

                                        .offcanvas-body span {
                                            color: rgb(131, 113, 63);
                                            font-weight: 600;
                                        }
                                    </style>
                                    <div class="offcanvas-body">
                                        <div class="card">
                                            <div class="card-header">
                                                <span>
                                                    {{itemAction.beneficiary}}
                                                </span>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-img-top action mt-2">
                                                    <img id="imageActionDetails" src="{{itemAction.get_image_url}}"
                                                        alt="">
                                                </div>
                                                <div class="card-text">
                                                    {{itemAction.description_action}}
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        Type: <span>
                                                            {{itemAction.action_type}}
                                                        </span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        Cout estimé : <span>
                                                            {{itemAction.cost_estimated}} ($)
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{itemAction.decriptionSliced}}... <span style="color: blue;"> Lire plus</span>
                            </a>
                        </td>
                        <td>
                            {{itemAction.date_action}}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <style>
                .navigation.action li.page-item {
                    color: whitesmoke;
                    background-color: rgb(121, 102, 49);
                    display: none;
                }

                .active>.page-link,
                .page-link.active {
                    z-index: 3;
                    color: var(--bs-pagination-active-color);
                    background-color: var(--bs-pagination-active-bg);
                    border-color: var(--bs-pagination-active-border-color);
                    color: white;
                    background-color: rgb(121, 102, 49);
                }
            </style>
            <div class="row d-flex">
                <div class="col-6">
                    <nav aria-label="Page navigation action">
                        <ul class="pagination justify-content-center">
                            {% if actionsEntries.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ actionsEntries.previous_page_number }}"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-label="First">&laquo;&laquo;</span>
                            </li>
                            <li class="page-item disabled">
                                <span class="page-link" aria-label="Previous">&laquo;</span>
                            </li>
                            {% endif %}

                            {% for i in actionsEntries.paginator.page_range %}
                            {% if actionsEntries.number == i %}
                            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                            {% else %}
                            <li class="page-item"><a class="page-link " href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}

                            {% if actionsEntries.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ actionsEntries.next_page_number }}"
                                    aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ actionsEntries.paginator.num_pages }}"
                                    aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-label="Next">&raquo;</span>
                            </li>
                            <li class="page-item disabled">
                                <span class="page-link" aria-label="Last">&raquo;&raquo;</span>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-end gap-2">
                        <div class="filter">
                            <a type="button" data-bs-toggle="dropdown"><i class="bi bi-download logobtnpost"
                                    style="font-size: 25px;"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Télecharger</h6>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'actionExcelData' %}">Excel/CSV</a></li>
                                <li><a class="dropdown-item" href="#">PDF</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="largeModalAction" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    {% if is_supervisor %}
                    <h5 class="modal-title mytitles">Ajouter une action</h5>

                    {% endif %}
                </div>
                <form id="actionForm">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Béneficiaire</label>
                                <input required type="text" class="shadow-none form-control" name="beneficiary"
                                    id="beneficiary">
                            </div>
                            <div class="col-md-6">
                                <label for="">Date de réalisation</label>
                                <input required type="date" class="shadow-none form-control" name="dateAction"
                                    id="dateAction">
                            </div>
                            <div class="col-lg-6 col-12">
                                <label for="">Déscription</label>
                                <textarea required type="date" class="shadow-none form-control" name="descriptionAction"
                                    id="descriptionAction"></textarea>
                            </div>
                            <div class="col-lg-6 col-12">
                                <label for="">Déscription</label>
                                <input required type="file" class="shadow-none form-control" name="descriptionAction"
                                    id="image_action"></input>
                            </div>
                            <div class="col-md-6">
                                <label for="">Coût estimé en ($) </label>
                                <input required class="shadow-none form-control" type="number" name="costEstimated"
                                    id="costEstimated"> </input>
                            </div>
                            <div class="col-md-6">
                                <label for="">Type d'actions </label>
                                <select required name="actionType" class="form-select" id="actionType">
                                    <option value="Infrascture">Infrascture</option>
                                    <option value="soutien-cas-violence">Soutien cas de violence</option>
                                    <option value="incendie">Incendie</option>
                                    <option value="formation">Formation</option>
                                    <option value="construction-batiment">Construction Batiment</option>
                                    <option value="construction-route">Construction Routes</option>
                                    <option value="autres-dons">Autres dons</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer action mt-2">
                            <button type="button" class="btn " data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" disabled class="btn" id="submitActionFork">Confirmer</button>
                        </div>
                    </div>
                </form>
            </div>
            <style>
                .modal-footer.action .btn:hover {
                    color: white;
                    background-color: rgb(190, 173, 139);
                }
            </style>

        </div>
    </div>
    </div><!-- End action Modal-->

</main>


<script>
    $(document).ready(function () {
        function checkFormCompletion() {
            var isValid = true;
            $('#actionForm').find(':input[required], textarea[required], select[required]').each(function () {

                if ($(this).val() === '') {
                    isValid = false;
                    return false;
                }
            });
            $('#submitActionFork').prop('disabled', !isValid);
        }

        $('#actionForm :input, #actionForm textarea, #actionForm select').on('input change', function () {
            checkFormCompletion();
        });

        $('#actionForm').on('submit', function (e) {
            e.preventDefault();

            $('#actionForm').find(':input, textarea').each(function () {
                if (this.type === 'file') {
                    if (this.files.length > 0) {
                        formData.append(this.name, this.files[0]);
                    }
                } else {
                    formData.append(this.name, $(this).val());
                }
            });

            $.ajax({
                url: "{% url 'actions' %}",  // Replace with your URL or URL name
                type: 'POST',
                data: formData,
                success: function (response) {
                    alert(response.message);
                    $('#actionForm')[0].reset();
                    $('#submitButton').prop('disabled', true);
                },
                error: function (xhr, status, error) {
                    alert('An error occurred: ' + xhr.responseText);
                }
            });
        });

        // Initial check
        checkFormCompletion();
    });
</script>


{% endblock content %}