{% extends "../structure/base.html" %}
{% block content %}
<main id="main" class="main" style="min-height: 480px;">

    <div class="pagetitle">
        <h2>Boites a suggestion</h2>
    </div>

    <style>
        .contact .title,
        .contact p {
            color: rgb(121, 102, 49);
        }

        .contact p {
            color: black
        }

        .contact .info-box h3 {
            font-size: 20px;
            color: rgb(121, 102, 49);
            font-weight: 700;
            margin: 20px 0 10px 0;
        }

        .contact .info-box i.bi {
            color: rgb(121, 102, 49);
        }

        .contact button {
            background-color: rgb(121, 102, 49);
        }
    </style>
    {% if not is_supervisor %}
    <section class="section contact">
        <div class="row gy-4">
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="info-box card title">
                            <i class="bi bi-geo-alt"></i>
                            <h3>Addresse Eka yo Hofi</h3>
                            <p> 130<br>Cirunga Kabare</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info-box card">
                            <i class="bi bi-telephone"></i>
                            <h3>Appelez sur </h3>
                            <p>+243 812995521<br>+243 974163948</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info-box card">
                            <i class="bi bi-envelope"></i>
                            <h3>Ecrire l'email </h3>
                            <p>info@ekahofi.com<br>contact@ekahofi.com</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info-box card">
                            <i class="bi bi-clock"></i>
                            <h3 style="color: rgb(121, 102, 49);">Open Hours</h3>
                            <p>Du lundi au vendredi<br>8h-16h, bureau ouvert</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="card p-4">
                    <form id="formSuggestion" class="php-email-form">
                        <div class="row gy-4">
                            <div class="col-md-12">
                                <input type="text" id="subjectTopic" class="form-control" name="subject"
                                    placeholder="Sujet" required>
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" id="messageSuggestion" name="message" rows="6"
                                    placeholder="Message" required></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="loading">chargement</div>
                                <div class="error-message"></div>
                                <div class="sent-message">message envoye</div>
                                <button style="background-color: rgb(121, 102, 49); color: white;" id="submitForm"
                                    type="submit"> <i class="bi bi-send"></i> Envoyer message</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </section>
    {% else %}

    <section>
        {% for suggestion in sugestions %}
        <!-- Default Accordion -->
        <div class="accordion" id="accordionExample{{suggestion.id}}">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree{{suggestion.id}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree{{suggestion.id}}" aria-expanded="false"
                        aria-controls="collapseThree{{suggestion.id}}">
                        {{suggestion.topic}}
                    </button>
                </h2>
                <div id="collapseThree{{suggestion.id}}" class="accordion-collapse collapse"
                    aria-labelledby="headingThree{{suggestion.id}}" data-bs-parent="#accordionExample{{suggestion.id}}">
                    <div class="accordion-body">
                        {{suggestion.message}}

                    </div>
                </div>
            </div>
        </div><!-- End Default Accordion Example -->
        {% endfor %}
    </section>
    {% endif %}

</main><!-- End #main -->
<script>
    $(document).ready(function () {

        $('#submitForm').click(function (event) {
            event.preventDefault();

            var formData = new FormData();

            formData.append('topic', $('subjectTopic').val());
            formData.append('message', $('messageSuggestion').val());

            // Send the AJAX request
            $.ajax({
                url: "{% url 'boiteSuggestion' %}",
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    alert(response.message);
                    $('subjectTopic').val(' ')
                    $('messageSuggestion').val(' ')
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        });
    });

</script>

{% endblock %}